<div style="margin-top: 10rem; margin-left: 10rem;">
  <input type="text" [(ngModel)]='username'  placeholder="Username" style="width: 10rem;"/>
  <button class="btn btn-success" (click)="connect()">Connect</button>
  <button class="btn btn-success" (click)="disconnect()">Disconnect</button>
</div>

<div style="margin-top: 2rem; margin-left: 10rem; display: flex;">
  <input type="text" [(ngModel)]='input' placeholder="Message" style="width: 10rem;"/>
  <div class="input-group-append">
    <button id="send" class="btn btn-primary" (click)="sendMessage()">Send</button>
  </div>
</div>

<!-- <div>
  
</div> -->

<!-- <div class="chatbox" style="height: 20rem; width: 20rem; border: 2px solid slateblue; margin-left: 20rem;">
  <div *ngFor='let message of messageServiceService.msg'>
    {{message}}
  </div>
</div>


<ul>
  <li *ngFor="let participant of findAllParticipantInConversation">
    {{ participant.username }}
  </li>
</ul>

<ul>
  <li *ngFor="let convo of findAllConversations">
    {{ convo.name }}
  </li>
</ul> -->